[submodule "UniDepth"]
	path = submodules/UniDepth
	url = https://github.com/lpiccinelli-eth/UniDepth.git
[submodule "submodules/dust3r"]
	path = submodules/dust3r
	url = https://github.com/naver/dust3r.git
[submodule "submodules/mast3r"]
	path = submodules/mast3r
	url = https://github.com/naver/mast3r.git
[submodule "submodules/splatt3r"]
	path = submodules/splatt3r
	url = https://github.com/btsmart/splatt3r.git
