
diff-gaussian-rasterization @ git+https://github.com/eldar/diff-gaussian-rasterization-w-pose@main
# diff-gaussian-rasterization @ git+ssh://git@github.com/eldar/diff-gaussian-rasterization-w-pose.git@main
